*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(70, 70, 107);
}


  .container1{
      width: 700px;
      background: white;
      margin: 70px;
      margin-left: 400px;
      padding: 50px;
      border-radius: 20px;
      text-align: center;
  }
